name: Ephemeral Issue

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment'
        required: true
        default: "integration"
        type: choice
        options:
        - integration
        - certification
      branch:
        required: true
        type: string

jobs:
  tree:
    name: Tree
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Run Script
        run: |
          chmod +x ${{ github.workflow}}/ee.sh
          sh ${{ github.workflow}}/ee.sh
          
  issue:
    name: Issue
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Create Issue
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/${{ github.repository }}/issues \
            -d '{"title":"[EE] ${{ github.event.repository.name }}","body":"#### Deploy Ephemeral Environments: \nrepo:${{ github.event.repository.name }} \nref:${{ inputs.branch }}","assignees":["'"${{ github.actor }}"'"],"labels":["ephemeral", "main", "'"${{ inputs.environment }}"'"]}'
